.header {
    background-color: #4ecce6;
    grid-area: header;
    padding: 15px;
    display: flex;
    justify-content: space-between;
}
.logo img{
    width: 70px;
    height: 70px;
}

.logo {
    padding-left: 30px;
}

.loginBlock a {
    color: #ffffff;
}

.loginBlock a.active {
    color: chartreuse;
}
