.profile {
    display: grid;
    grid-template: minmax(150px, auto) 1fr / minmax(126px, auto) 1fr;
    grid-template-areas:
        "poster" "poster"
        "avatar" "about";
}
.poster {
    padding-bottom: 20px;
    grid-area: poster;
    grid-column: 1 / 3;
}

.poster img {
    width: 100%;
    height: 150px;
}

.avatar {
    grid-area: avatar;
    grid-column: 1 / 2;
    grid-row: 2 / 3;
    padding: 20px 20px 0 0;
}

.avatar img{
    width: 126px;
    height: 126px;
}

.about {
    grid-area: about;
    grid-column: 2 / 3;
    grid-row: 2 / 3;
    padding: 20px 0 0 20px;
    align-items: start;
}

.name {
    font-weight: 700;
}
.description {

}