ul {
    list-style: none;
    padding: 0;
}

.wrapper{
    min-height: 100vh;
    display: grid;
    grid-template: minmax(100px, auto) 1fr minmax(70px, auto) / 1fr;
    grid-template-areas:
        "header"
        "main"
        "footer";
}

.main {
    grid-area: main;
    padding: 30px 15px;
    display: grid;
    grid-template: 1fr/ minmax(auto, 250px) minmax(auto, 1100px);
}

a {
    text-decoration: none;
}
